>define a function that accepts a number and returns whether the number is even or odd

In [11]:
def num(i):
  if i%2==0:
   print("even number")
  else:
    print("odd number")

In [13]:
num(999)

odd number

In [15]:
num(22837476)

even number

>define a function to create and print alist where the values are square of numbers betwween 1 and 30(both included)

In [27]:
def square():
  a=list()
  for i in range(1,31):
     a.append(i**2)
  print(a)

In [28]:
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

>define a function shut_down,that takes one parameter.then if the shut_down function receives a value equal to "yes",it should print"shutting down".alternatively if value is equal to 'no',then the function should print "sorry"

In [31]:
def shut_down(p):
  if p=='yes':
    print("shutting down")
  elif p=='no':
    print("shutting canceled")
  else: 
   print("sorry")

In [32]:
shut_down("no")

shutting canceled

>define a function called "by_three"that takes parameeter called number.if that number is divisible by 3,"by_three"should print the cube of number.otherwisw by_three should print false

In [39]:
def by_three(n):
  if n%3==0:
    print(n*n*n)
  else:
    print("False")

In [40]:
by_three(155)

False

In [45]:
by_three(15)

3375

>define a function that takes a list and prints a new list with no duplicate elements given in the first list

In [52]:
def list(a):
  b=[]
  for i in a:
    if i not in b:
      b.append(i)
  print(b)

In [53]:
list([1,2,2,34,54,334,34,66,78,78,98,9,6])

[1, 2, 34, 54, 334, 66, 78, 98, 9, 6]