>Write a program which accepts month's name as input and display the number of days in the month as output

In [145]:
month=input("enter the month name")
year=["january","february","march","april","may","june","july","august","september","october","november","december"]
for i in year:
 if month=="february":
  print("number of days in",month,"are 28/29")
  break
 elif month in("january","march","may","july","august","october","december"):
  print("number of days in",month,"are 31")
  break
 else:
   print(month,"has 30 days")
   break

enter the month nameseptember
september has 30 days

>take any word as input from the user and count the number of vowels in the word

In [70]:
str1=input("enter the word")
a=0
for i in str1:
  if i in('a','A','e','E','i','I','o','O','u','U'):
   a=a+1
print("number of vowels in",str1,"are",a)

enter the wordirreversable data doesnt exist
number of vowels in irreversable data doesnt exist are 11

>write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [121]:
a=[2,3,4,8,118,113,119,223,445,988,1199,5,11,17]
even=0
odd=0
a_even=[ ]
a_odd=[ ]
for i in a:
  if (i%2==0):
    even=i
    a_even.append(i)
  else:
    odd=i
    a_odd.append(i)
print(a_even)
print(a_odd)

[2, 4, 8, 118, 988]
[3, 113, 119, 223, 445, 1199, 5, 11, 17]

>write a program that appends datatype of elements from a list to a separate list

In [142]:
l1=['germany','romania','italy','newyork',True,[927,333,777,11],False,{1:'lee',9:'bob'},66]
length=len(l1)
dtype_l1=[]
i=0
for i in range(length):
   dtype_l1.append(type(l1[i]))   #dtype_l1.append(element_type)
print(dtype_l1)

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'bool'>, <class 'dict'>, <class 'int'>]

>write a program to display only those numbers from a list that satisfies the following conditions:
<1>the number must b divisible by 7

<2>if the number is 140 then skip it and move to the next number in the list

<3>if the number in the list is greater than 630 then stop the loop

In [ ]:
for a in range(7,638):
 if a%7==0:
     if a==140 or a>630:
       continue
     print(a)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630